Are you sure you want to delete this? 
<%= @question.title%>
<br>
<%= @question.lab%>
<br>
<%= @question.link%>
<br>
<%= @question.content%>
<br>
<%= @question.student_username%>
<br>
<%= @question.created_at%>


<form method="post" action="/questions/<%= @question.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>