<h1>Welcome, <%=@student.first_name%>!</h1>
<br>
<img src='<%=@student.image%>'>
<br>
<a href = "<%=@student.github%>"><p>Github link</p> </a>

<p>Number of Questions Asked:</p>
<%= @student.num_of_questions%>

<p>Number of Questions Answered:</p>
<%= @student.num_of_answers%>
<%#need to add the number of questions asked, the number of answeres, and the list of questions and numbers%>

<a href= '/logout'><h3>[LOGOUT]</h3></a>